<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
               Test
            </h3>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Test
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Section-->
                    <div class="m-section__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, voluptate?

                        <p>
                            actor-list works!
                        </p>

                        <ul>
                            <li  *ngFor="let actor of actors">
                                Name: {{actor.name}} , email: {{actor.email}}
                            </li>
                        </ul>



                    </div>


                    <div class="alert  m-alert m-alert--icon m-alert--air m-alert--square m--margin-bottom-30" role="alert">
                        <div class="m-alert__icon">
                            <i class="flaticon-exclamation-1"></i>
                        </div>
                        <div class="m-alert__text">
                            <b>ng-bootstrap</b> is a Bootstrap 4 components, powered by Angular. Here are some components from ng-bootstrap.
                            For more info please check out <a class="m-link m-link--warning m--font-bold" href="https://ng-bootstrap.github.io/#/home/" target="_blank">the official documentation.</a>
                        </div>




                        <div class="m-alert__close">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    </div>

                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->

        </div>

    </div>
</div>